.descriptions-and-links{
    display:flex;
    border:dashed goldenrod;
    background-color: rgb(50, 50, 151);
}

.description-header{
    text-align: center;
}

.jeans-d-l{
    display:flex;
}