.Title {
    color:salmon;
    font-size:450%;
    text-align: center;
    background-color: rgb(116, 85, 28)
}

.marquee {
    color: rgb(82, 248, 4);
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.giphy-embed {
float: right;

}