@import url("./header.css");


.main {
    display: flex;
  
    
    max-width: 100px;
   }

   .body {
       background-image: url("https://images.all-free-download.com/images/graphiclarge/denim_fabric_seamless_vector_pattern_588983.jpg");
       background-color: rgb(38, 89, 230);

   }


   .footerImage {
       
    display: flex;

    
    
   }

   .footerTitle {
    display: inline-block;
  background-color: blue;
  
  margin-right: 10px;
   }